       
         <div>
         
         <div style="align-content: center;">
                <!-- row1 -->
                <div>
                  
                    <div style=" font-size: 30px;color: black; margin-left: 30px;"> show data </div>
                </div>
    
    
            </div>
        <div class="gridc-class" id="show" style="align-content:center;">
                <!-- row 8 show data-->
                <div class="class-flex" style="margin-left:300px;">
    
                        
                        <img  class="c-border" id="display" src="" style="width: 150px;height: 150px;"  />
                    
                </div>
    
                <div class="class-flex" style=" flex-direction: column; margin-bottom: 20px;"> 
                    <div id="name"> </div>
    
                    <div id= "mobile"> </div>
                </div>
    
            </div>
     </div>