

<div class="gridr-class"  >
        <div >
            <!-- row1 -->
           
               
                <div style=" font-size: 30px;color: black; margin-left: 30px;"> Fill data </div>
          


        </div>
        <div class=" custom-grad"> </div>

        <div class="class-flex">
            <!-- row 2 -->
            <div style="margin-left: 30px; color:black;margin-top:20px;margin-bottom: 100px;font-size: 20px; "> First
                name: <input type="text" id="First Name"> </div>
            <div class="class-flex-grow"> </div>
            <div style="margin-right: 500px;color:black ;margin-top: 20px;font-size: 20px;"> Last Name: <input
                    type="text" id="Last Name"></div>


        </div>

        <div class="class-flex">
            <!-- row3  -->
            <div style="margin-left: 30px; color: black;margin-top: 20px;font-size: 20px;">
                Date Of Birth <input type="date" id="Date Of Birth">
            </div>
            <div class="class-flex-grow"> </div>
            <div style="margin-right: 500px;color:rgb(10, 9, 9);margin-top: 20px;font-size: 20px;">
                Phone <input type="tel" id="phone">
            </div>

        </div>

        <div class="class-flex">
            <!-- row4  -->
            <div style="margin-left: 30px;margin-top: 20px;color: rgb(7, 6, 6);font-size: 20px;">
                Gender <input type="radio" id="gender" value="male"> Male
                <input type="radio" id="gender" value="female"> Female
            </div>
            <div class="class-flex-grow"> </div>
            <div style="margin-right: 500px;color:black;margin-top: 20px;font-size: 20px;">
                E-mail: <input type="text" id="email"> </div>
            </div>

            
        </div>


        <div class="class-flex">
            <!-- row 5 -->
            <div style="margin-left: 30px; color:black;margin-top: 20px;font-size: 20px;">
                Profile image <input type="file" id="myfile" onChange="handleImageUpload()">
                <div>
                    <img id="img1" src="" width="100px" height="100px" hidden="yes">
    
                </div>
    
            </div>
            <div class="class-flex-grow"> </div>
           
        </div>
        <div>
            <!-- row 6 -->
            <div style="margin-left: 30px; color:black;margin-top: 20px;font-size: 20px;">
                Description
            </div>
            <textarea style="margin-left: 30px;" rows="4" cols="105" id="desc"> </textarea>
        </div>

